.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
  max-width: 90vw;
  box-shadow: 0 0 20rem color-mix(in srgb, var(--color-bg), white 60%);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}

.tabs {
  overflow-x: auto;
  overflow-y: hidden; 
  display: flex;
  gap: 0.25rem;
  border-bottom: 0.625rem solid #2f2340;
  background: color-mix(
    in oklab,
    var(--color-bg),
    rgba(255, 255, 255, 0.5) 20%
  );
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-bg);
}
/* Custom scrollbar style */
.tabs::-webkit-scrollbar {
  width: 8px;
}

.tabs::-webkit-scrollbar-track {
  background: var(--color-bg); 
}

.tabs::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); 
  border-radius: 4px; 
}

.tab {
  padding: 1rem;
  min-width: 8rem; 
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  user-select: none;
}

.tab:not(.active) {
  cursor: pointer;
}

.tab .sub {
  font-size: 0.5rem;
}

.tab .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab:before,
.tab:after {
  content: "";
  background: #2f2340;
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 1rem;
  --size: 2rem;
  transform: translateY(100%);
  opacity: 0;
  transition: background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.tab:before {
  mask-image: radial-gradient(
    var(--size) var(--size) at 0 0,
    transparent 50%,
    black 50%
  );
  left: -1rem;
}

.tab:after {
  mask-image: radial-gradient(
    var(--size) var(--size) at 100% 0,
    transparent 50%,
    black 50%
  );
  right: -1rem;
}

@media (hover) {
  .tab {
    transition: color 0.3s ease, background 0.2s ease;
  }

  .tab:hover {
    background: #4c3966;
  }
}

.tab.active {
  z-index: 111;
  box-shadow: 0 -0.625rem 0.955rem rgba(0, 0, 0, 0.12);
  background: #2f2340;
  color: var(--color-secondary);
  pointer-events: none;
}

.tab.active:before,
.tab.active:after {
  transition: color 3s ease, background 0.3s ease, opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.content {
  display: grid;
  place-items: center;
  flex: 1;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--color-bg), rgba(255, 255, 255, 0.2) 30%),
    rgba(0, 0, 0, 0.8)
  );
}

a.labs-follow-me {
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  top: unset;
  text-align: center;
}
